body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  /* width: 100%;
  max-width: 1158px; */
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input {
  font-family: inherit;
  color: currentColor;
}

/* ===== HEADER ===== */

.header {
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 149px;
}

.header-logo-studio {
  color: #2e2f42;
}

.menu-open-btn {
  display: block;
  border: none;
  background-color: transparent;
  margin: 0 auto;
}

.menu-open-btn:hover > .menu-open-icon,
.menu-open-btn:focus > .menu-open-icon {
  fill: #404bbf;
}

.menu-open-icon {
  fill: #2f2f37;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.nav-list {
  display: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  gap: 40px;
}

.nav-list-item-link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 48px;
  height: 4px;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
  color: #404bbf;
}

.address {
  display: none;
}

.mob-menu-address {
  display: flex;
  align-items: center;
}

.address-list {
  display: flex;
  gap: 40px;
  color: #434455;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link {
  /* padding-top: 24px;
  padding-bottom: 24px; */
  color: #434455;
  font-family: Roboto;
  /* font-size: 16px; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 1.5; */
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.address-list-item {
}

/*?========== MEDIA HEADER TABLET ==========*/

@media (min-width: 768px) {
  .container {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
  }

  .header-logo {
    margin-right: 120px;
  }

  .nav {
    margin: 0;
    padding-left: 16px;
  }

  .menu-open-btn {
    display: none;
  }
  .nav-list,
  .address {
    display: flex;
  }

  .address-list {
    flex-direction: column;
    gap: 12px;
  }
}

/*?========== MEDIA HEADER DESKTOP ==========*/

@media screen and (min-width: 1158px) {
  .container {
    width: 100%;
    max-width: 1158px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .address-link {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
  }

  .nav {
    margin: 0 auto;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }
}

/* ========== MOB MENU ========== */
.mob-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 24px 24px 40px 16px;
  opacity: 0;
  pointer-events: 0;
  visibility: hidden;
}

.mob-menu-btn {
  display: flex;
  width: 24px;
  height: 24px;
  border: 1px solid rgb(46, 47, 66, 0.1);
  background-color: transparent;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-btn:hover,
.mob-menu-btn:focus {
  background-color: #404bbf;
  border: none;
}

.mob-menu-btn:hover .menu-btn-icon,
.mob-menu-btn:focus .menu-btn-icon {
  fill: #ffffff;
}

.mob-menu-list {
}

.mob-menu-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #404bbf;
}

.mob-menu-address {
  margin-bottom: 48px;
}

.mob-menu-address-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-menu-address-link {
  color: #434455;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-address-link:hover,
.mob-menu-address-link:focus {
  color: #4d5ae5;
}

.mob-menu-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.mob-menu-soc-item {
  width: 40px;
  height: 40px;
}
.mob-menu-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-soc-link:hover,
.mob-menu-soc-link:focus {
  background-color: #31d0aa;
}

.mob-menu-soc-icon {
  fill: #f4f4fd;
}
.mob-menu-soc-item {
}

/* ===== HERO ===== */

.hero {
  background-color: #2e2f42;
  /* padding: 188px 0; */
  padding: 72px 0;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob@2x.jpg);
  }
}

.hero-header {
  /* max-width: 496px; */
  max-width: 216px;
  color: #fff;
  text-align: center;
  /* font-size: 56px; */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  margin: 0 auto;
  text-align: center;
  /* margin-bottom: 48px; */
  margin-bottom: 72px;
}

.hero-button {
  display: block;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/*?========== MEDIA  HERO TABLET ========== */

@media screen and (min-width: 768px) {
  .hero {
    background-color: #2e2f42;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }

  .hero-header {
    max-width: 496px;
    font-size: 56px;
    margin-bottom: 36px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab@2x.jpg);
  }
}

/*?========== MEDIA HERO DESKTOP ========== */

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desk.jpg);
  }

  .hero-header {
    max-width: 496px;
    font-size: 56px;
    margin-bottom: 48px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desk@2x.jpg);
  }
}

/* ===== FEATURES ===== */

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-header {
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-list-item {
  /* width: calc((100% - 72px) / 4); */
}

.features-box {
  margin-bottom: 8px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.features-icons {
}

.features-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: flex;
  margin-bottom: 8px;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-dscr {
  color: var(--SLATE, #434455);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

/*?========== MEDIA FEATURES TABLET ========== */

@media screen and (min-width: 768px) {
  .container {
    width: 734px;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-list-item {
    width: calc((100% - 24px) / 2);
  }
}

/*? ========== FEATURES MEDIA DESKTOP ========== */

@media screen and (min-width: 1158px) {
  .container {
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .features-list {
    gap: 24px;
  }

  .features-list-item {
    width: calc((100% - 72px) / 4);
  }

  .features-title {
    font-size: 20px;
    font-weight: 500;
    justify-content: flex-start;
  }

  .features-box {
    display: flex;
    min-width: 264px;
  }

  .features-dscr {
    font-size: 16px;
    font-weight: 400;
    min-width: 264px;
  }
}

/* ===== OUR TEAM ===== */

.our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.our-team-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  /* gap: 24px; */
  gap: 72px;
  flex-direction: column;
}

.our-team-item {
  background-color: #fff;
  /* width: calc((100% - 72px) / 3); */
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin: 0 auto;
}

.our-team-name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-team-card {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  padding: 32px 0;
}

.our-team-name-dscr {
  color: var(--SLATE, #434455);
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icon-wrapper {
  display: flex;
}

.icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-icon {
  fill: #f4f4fd;
}

/*? ========== OUR TEAM MEDIA TABLET ==========  */

@media screen and (min-width: 768px) {
  .our-team > .container {
    width: 582px;
  }

  .our-team-list {
    gap: 64px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .our-team-item {
    width: calc((100% - 24px) / 2);
  }
}

/*? ========== OUR TEAM MEDIA DESKTOP ==========  */

@media screen and (min-width: 1158px) {
  .our-team > .container {
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .our-team {
    padding: 120px 156px;
  }

  .our-team-list {
    gap: 24px;
    flex-direction: row;
    flex-wrap: no-wrap;
  }

  .our-team-item {
    width: calc((100% - 72px) / 4);
  }
}

/* ===== OUR PORTFOLIO ===== */

.our-portfolio {
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
  /* padding: 120px 0; */
}

.our-portfolio-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;

  /* flex-wrap: wrap; */
  /* column-gap: 24px;
  row-gap: 48px; */
}

.our-portfolio-list-item {
  /* width: calc((100% - 72px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list-item:hover:hover .overlay {
  transform: translateY(0);
}

.our-portfolio-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-portfolio-item-dscr {
  color: var(--SLATE, #434455);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.apps-container {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

/*? ========== OUR PORTFOLIO MEDIA TABLET ==========  */

@media screen and (min-width: 768px) {
  .our-portfolio {
    display: flex;
    padding-top: 96px;
    padding-bottom: 96px;
    /* padding: 120px 0; */
  }

  .our-portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .our-portfolio-list-item {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*? ========== OUR PORTFOLIO MEDIA DESKTOP ==========  */

@media screen and (min-width: 1158px) {
  .our-portfolio {
    padding: 120px 0;
  }

  .our-portfolio-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .our-portfolio-list-item {
    width: calc((100% - 72px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* ===== FOOTER ===== */
.footer {
  background-color: #2e2f42;
  /* padding: 100px 0; */
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container {
  margin: 0;
  /* display: flex;
  align-items: baseline; */
}

.footer-p {
  /* margin-right: 120px; */
  margin-bottom: 72px;
}

.logo-footer-link {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* max-width: 264px; */
  width: 288px;
}

.footer-soc-media {
  margin-bottom: 72px;
}

.footer-soc-text {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.footer-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-subscribe-text {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  /* margin-left: 56px; */
  display: flex;
  justify-content: center;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  /* gap: 24px; */
  width: 100%;
}

.footer-input-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-input-email {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  /* margin-left: 56px; */
}

.subscribe-button {
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  min-width: 165px;
  height: 40px;
}

.icon-subscribe {
  margin-left: 16px;
  fill: #ffffff;
}

/*?========== MEDIA FOOTER TABLET ==========*/

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 96px;
    padding-left: 108px;
  }

  .footer-logo-soc {
    display: flex;
    /* gap: 24px; */
  }

  .footer-p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-subscribe-text {
    display: flex;
    margin-bottom: 0;
    justify-content: flex-start;
  }

  .footer-input-box {
    flex-direction: row;
  }

  .footer-subscribe-form {
    align-items: flex-start;
  }
}

/*?========== MEDIA FOOTER DESKTOP ==========*/

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 156px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
  }

  .footer-p {
    margin-right: 120px;
    margin-bottom: 0;
    align-items: flex-start;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-soc-media {
    margin-bottom: 0;
  }

  .footer-soc-text {
    justify-content: flex-start;
  }

  .footer-subscribe-form {
    margin-left: 24px;
  }

  .footer-subscribe-text {
    padding-left: 24px;
  }
}

/* ========== MODAL =========== */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  margin-bottom: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  padding-left: 38px;
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-input:hover .input-icon,
.modal-input:focus .input-icon {
  fill: #4d5ae5;
}

.label-wrap {
  margin-bottom: 8px;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 11px;
  fill: #2e2f42;
}

.input-wrap {
  position: relative;
}

.input-label {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover {
  border-color: #4d5ae5;
}

.icon-input {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .icon-input,
.modal-input:hover + .icon-input {
  fill: #4d5ae5;
}

.comment-wrap {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.modal-comment:hover,
.modal-comment:focus {
  border-color: #4d5ae5;
}

.checkbox-form {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  gap: 8px;
}

.label-checkbox {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-left: 8px;
}

.modal-checkbox {
  width: 16px;
  height: 16px;
}

.privacy-true {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
}

.privacy-icon {
}

.modal-checkbox:checked + .label-checkbox > .privacy-true {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
  text-decoration-line: underline;
  text-transform: capitalize;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.button-input {
  display: block;
  min-width: 169px;
  height: 56px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.button-input:hover,
.button-input:focus {
  background-color: #404bbf;
}
